<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <!-- Blog Content -->
    <div class="container mt-4">
        <h1> <%= blog.title %></h1>

        <!-- Check if the coverImageUrl exists -->
        <% if (blog.coverImageUrl) { %>
          <img src="<%= blog.coverImageUrl %>" alt="Cover Image" width="400px" height="300px" onerror="this.onerror=null; this.src='/images/default-placeholder.png';">
        <% } else { %>
          <img src="/images/default-placeholder.png" alt="Default Image" width="400px" height="300px">
        <% } %>
        
        <pre><%= blog.body %></pre>
    </div>

    <!-- Author Info -->
    <div class="container mt-4">
        <!-- Check if the author's profilepic exists -->
        <% if (blog.createdBy && blog.createdBy.profilepic) { %>
          <img src="<%= blog.createdBy.profilepic %>" alt="Author's Profile Picture" width="50px" onerror="this.onerror=null; this.src='/images/default-avatar.png';">
        <% } else { %>
          <img src="/images/default-avatar.png" alt="Default Avatar" width="50px">
        <% } %>
        <%= blog.createdBy ? blog.createdBy.fullName : 'Unknown Author' %>
    </div>

    <!-- Comments Section -->
    <div class="container mt-3">
      <h3>Comments</h3>
      <form action="/blog/comments/<%= blog._id %>" method="post">
        <% if (locals.user) { %>
          <div class="mb-3">
            <input type="text" class="content" name="content" placeholder="Enter Your Comment" style="width: 800px; height: 60px;">
            <br><br>
            <button class="btn btn-sm btn-primary" style="height: 40px; width: 100px;" type="submit">Add</button>
          </div>
        <% } %>
      </form>
    </div>

    <!-- Include JS -->
    <%- include('./partials/script') %>
  </body>
</html>
